@font-face {
    font-family: 'myFont';
    src: url(./myFonts/YekanBakh-VF.ttf);
  }

body{
    padding: 0;
    margin: 0;
    font-family: 'myFont' !important;

}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    font-family: 'myFont' !important ;
}
.mainHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding-top: 2%;
}
.oneObject{
width: 25%;
}
.oneObject img{
    margin-right: 20%;
}
.twoObject{
    width:45%;
    display: flex;
    flex-direction: row;
    margin: 0 10%;
}
.twoObject ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.twoObject ul li{
    width: 100%;
    list-style: none;
text-decoration: none;

}
.twoObject ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    color: #656565;
}
.threeObject{
width: 30%;
justify-content: center;
margin-top: 20px;
display: flex;
flex-direction: row;
}
.threeObject h4{
    margin-top: 2px;
    margin-left: 40px;
}
.mainPage{
    width: 100%;
    height: 80vh;
    background-color: #f3f3f3 ;
    display: flex;
    flex-direction: row;
}
.mainPageRight{
    background-color: #888888 ;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.calenderObject {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 20vh;
    background-color: #888888;
    align-items: center;
}
.calenderObjectWhite{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    background-color: #f3f3f3 ;
    justify-content: center;
    align-items: center;
}
.calenderObjectWhite1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    background-color: #f3f3f3 ;
    border-top-left-radius: 25px;
    justify-content: center;
    align-items: center;
}
.itemCalender {
    width: 40%;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}
.itemCalenderBlack {
    width: 40%;
    display: flex;
    flex-direction: row;
    color: #000;
}
.pipe {
    margin-left: 8%;
    margin-right: 8%;
    width: 0px;
    height: 40.19px;
    border: 1px solid #FFFFFF;
}
.pipeBlack {
    margin-left: 8%;
    margin-right: 8%;
    width: 0px;
    height: 40.19px;
    border: 1px solid #000;
}
.degreeItem{
    width: 40%;
}
.degreeItem h5{
    font-size: 16px;
}
.dateItem h4{
    font-size: 24px;
}
.dateItem{
    width: 135%;
}
.percentBetween{
    margin-top: 55%;
    font-size: 16px;
}
.percentBetwen{
    margin-top: 5%;
}


.mainPageLeft {
    width: 80%;
    background-color: #888888;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
}
.sectionOne{
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: row;
}
.sectionOneObj{
    width: 60%;
}
.sectionOneObj1{
    width: 40%;
}
.boxData {
    width: 40%;
    height: 32.5vh;
    display: flex;
    flex-direction: column;
    margin: 5% auto 0;
}
.mainData {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.mainData h1{
    width: 172.47px;
height: 157.31px;
font-family: 'myFont';
font-style: normal;
font-weight: 300;
font-size: 159.905px;
line-height: 194px;
text-align: right;
color: #FFFFFF;
}
.degreeMainData {
    width: 41.23px;
    height: 76.89px;
    font-family: 'myFont';
    font-style: normal;
    font-weight: 100;
    font-size: 124.926px;
    line-height: 152px;
    text-align: right;
    color: #FFFFFF;
    margin-left: 5%;
}
.characterDegree {
    width: 51px;
    height: 80px;
    font-family: 'myFont';
    font-style: normal;
    font-weight: 400;
    font-size: 68.7092px;
    line-height: 83px;
    margin-top: 12%;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}
.detailWeatherBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12vh;
}
.detailWeatherIcon {
    width: 35%;
    display: flex;
    direction: ltr;
    flex-direction: column;
}
.detailWeatherPipe{
width: 10%;
}
.detailWeatherDesc {
    width: 55%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 6px;
    font-family: 'myFont';
    justify-content: space-around;
}
.detailWeatherDesc h4{
font-family: 'Yekan Bakh VF';
font-style: normal;
font-weight: 325;
font-size: 18px;
line-height: 119.5%;
text-align: right;
color: #FFFFFF;

}
.detailWeatherDesc h3{
font-family: 'Yekan Bakh VF';
font-style: normal;
font-weight: 325;
font-size: 40px;
line-height: 119.5%;
text-align: right;
color: #FFFFFF;
}
.detailWeatherDesc h5{
font-family: 'Yekan Bakh VF';
font-style: normal;
font-weight: 325;
font-size: 18px;
line-height: 119.5%;
text-align: right;
color: #FFFFFF;
}
.dflexIcon {
    display: flex;
    flex-direction: row;
    padding: 9px 0 4px 6px;
}

.dflexIcon h5{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.dflexIcon img{
    margin-right: 15px;
}
.detailWeatherPipe1 {
    width: 0px;
    height: 93.17px;
    margin: 10px auto 0;
    border: 1.5px solid #FFFFFF;
}

.sectionTwo{
    width: 100%;
    height: 9vh;
}

.timeLine {
    background-image: url(./img/ghorun.png);
    width: 147px;
    height: 167px;
    float: left;
    margin-top: -5%;
    background-repeat: no-repeat;
}
.dflextime {
    display: flex;
    flex-direction: column;
    margin: 38% auto 0;
    width: 50%;
}
.timelineBG{
    margin-top: -6%;
}

.sectionThree{
    width: 100%;
    height: 35vh;
}
.timelineDesplay{
    display: flex;
    flex-direction: column;
}
.timelineObj {
width: 75px;
height: 39px;
}
.timeOnorOff {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    width: 122%;
}

.timeOff {
    margin-left: 22.2%;
}